<div class="form-group" ng-class="'has-error': addEventForm.eventName.$touched && addEventForm.eventName.$invalid}">
    <form method="post" [formGroup]="listDetailsForm" (ngSubmit)="createList()">
        <input class="form-control grocery" formControlName="listName" required placeholder="Grocery List Name" />
        <input class="form-control grocery" formControlName="itemsCount" type="number" placeholder="Items Count" />
        <button class="btn btn-secondary btn-sm" type="submit" [disabled]="isCountSubmitted">Start list</button>
    </form>
</div>

<div *ngIf="isCountSubmitted">
    <form method="post" [formGroup]="itemsForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let i of array(itemsCount)">
            <div class="d-flex justify-content-center pd-5">
                <input class="form-control grocery" formControlName='itemName{{i}}' placeholder="Item Name" />
                <input class="form-control grocery" formControlName='quantity{{i}}' type="number"
                    placeholder="Quantity" />
                <input class="form-control grocery" formControlName='calories{{i}}' type="number"
                    placeholder="Calories" />

                <mat-form-field>
                    <input formControlName='purchaseDate{{i}}' matInput [matDatepicker]="purchase"
                        placeholder="Purchase Date">
                    <mat-datepicker-toggle matSuffix [for]="purchase"></mat-datepicker-toggle>
                    <mat-datepicker #purchase></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName='expirationDate{{i}}' matInput [matDatepicker]="expiration"
                        placeholder="Expiration Date">
                    <mat-datepicker-toggle matSuffix [for]="expiration"></mat-datepicker-toggle>
                    <mat-datepicker #expiration></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName='consumptionDate{{i}}' matInput [matDatepicker]="consumption"
                        placeholder="Consumption Date">
                    <mat-datepicker-toggle matSuffix [for]="consumption"></mat-datepicker-toggle>
                    <mat-datepicker #consumption></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add Grocery List</button>
    </form>
</div>