<div id="authentication-container" class="d-flex justify-content-center pt-5">
    <form method="post" id="register" >
        <div class="authentication-input-container">
            <label>Email</label>
            <input class="user-data" asp-for="Email" />
        </div>

        <div class="authentication-input-container">
            <label>Password</label>
            <input class="user-data" />
        </div>

        <div id="authentication-button-container" class="text-center">
            <button class="btn btn-primary" type="submit">Sign In</button>
        </div>
    </form>
</div>




